.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.side{
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side label{
    color: #e41e3f;
    font-weight: bolder;
}

.side input,
.side button{
    margin: 20px 0 0 0;
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #e41e3f;
    background: #f33e59be;
    fill: #ffffff;
    stroke: #ffffff;
}

.side input:hover,button:hover{
    border: 2px solid #ffffff;
    background: #ffffff;
    fill: #f33e58;
    stroke: #f33e58;
}

.side path{
    fill: inherit;
    stroke: inherit;
}