
.canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.side{
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side label{
    color: #e41e3f;
    font-weight: bolder;
    font-size: 1.2rem;
}
.side input,
.side button{
    margin: 20px 0 0 0;
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #e41e3f;
    background: #f33e59be;
    fill: #ffffff;
    stroke: #ffffff;
}
.side input:hover,
.side button:hover{
    border: 2px solid #ffffff;
    background: #ffffff;
    fill: #e41e3f;
    stroke: #e41e3f;
}
.side input:hover,button:hover{
    border: 2px solid #ffffff;
    background: #ffffff;
    fill: #f33e58;
    stroke: #f33e58;
}
.side input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 40px;
    height: 40px;
}
.side input::-webkit-color-swatch{
    border-radius: 25px;
}
.side path{
    fill: inherit;
    stroke: inherit;
}
.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.large{
    scale: 1.1;
}
.medium{
    scale: 0.9;
}
.small{
    scale: 0.7;
}
.tooltip{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    color: #e41e3f;
    font-size: 1.3rem;
}
.tooltip p{
    flex: 50%;
}
.info{
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    margin: 20px 20px 0 0;
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #e41e3f;
    background: #f33e59be;
    fill: #ffffff;
    stroke: #ffffff;
}
.info:hover{
    border: 2px solid #e41e3f;
    background: #ffffff;
    fill: #e41e3f;
    stroke: #e41e3f;
}
.modal{
    position: fixed;
    margin-top: 10px;
    padding: 20px;
    z-index: 2;
    border-radius: 25px;
    width: 70vw;
    height: 70vh;
    background: #ffffff;
    text-align: left;
    color: #e41e3f;
    font-size: 1.4rem;
    overflow: scroll;
}
.modal h1{
    text-align: center;
    font-weight: 900;
}
.modal p:nth-child(2n-1){
    font-weight: 700;
}
.modal p:nth-child(2n){
    text-indent: 20px;
}
@media screen and (max-width: 400px) {
    .canvas{
        flex-direction: column;
    }
    .sample-canvas,
    .canvas-container{
        height: 300px!important;
        width: 300px!important;
    }
    .lower-canvas,
    .upper-canvas{
        margin: auto!important;
        height: 300px!important;
        width: 300px!important;
    }
    .side{
        flex-direction: row;
        gap: 20px;
        padding: 10px 0;
    }
    .modal{
        font-size: 0.9rem;
    }
    .tooltip{
        display: none;
    }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
    .canvas{
        flex-direction: column;
    }
    .sample-canvas,
    .canvas-container{
        height: 340px!important;
        width: 340px!important;
    }
    .lower-canvas,
    .upper-canvas{
        margin: auto!important;
        height: 340px!important;
        width: 340px!important;
    }
    .side{
        flex-direction: row;
        gap: 20px;
        padding: 10px 0;
    }
    .modal{
        font-size: 0.9rem;
    }
    .tooltip{
        display: none;
    }
}
@media screen and (min-width: 601px) and (max-width: 1366px) {
    .tooltip{
        display: none;
    }
}