.container{
    width: 300vw;
    display: flex;
    overflow: hidden;
}
.layer{
  display: flex;
  flex-direction: row;
  height: 200px;
}
.heart{
    width: 10vw;
    margin: -4vh 10px;
}

.heart:nth-child(2n){
    width: 8vw;
    animation-delay: 1.5s;
}

.heart:nth-child(3n){
    width: 20vw;
    padding-bottom: 6px;
    animation-delay: 1s;
}
.heart:nth-child(3n-1){
    width: 15vw;
    animation-delay: 0.5s;
}

@keyframes pulse {
    0%, 100% {
      transform: scale(0.8);
    }
    25% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    75% {
      transform: scale(0.9);
    }
}

.heart {
  animation: pulse 2.5s infinite;
}

@media screen and (max-width: 1366px) {
    .container{
        flex-direction: row;
        margin-top: -8vh;
        width: 400vw;
    }
    .layer{
      display: flex;
      flex-direction: row;
      height: 100px;
    }
    .layer svg{
      height: auto;
      width: auto;
    }
}